body {
  background: #eee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#WTF {
  display: none;
}

code {
  background-color: #fff;
  border-radius: 3px;
  display: block;
  margin: 10px 0;
  white-space: pre;
}

code.inline {
  display: inline;
}

.output {
  background-color: #fff;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
  width: 600px;
}

.focus-demo:focus {
  outline: 2px solid red;
}
